@using System.Collections
@using CustomerManagement.Data
@model List<ShippingAddress>

@{
    Layout = "";
}

<div id="shippingAddresses" class="table-responsive">

    @Html.AntiForgeryToken()

    <div id="createNewShippingAddress" style="display: none">
        <button class="btn btn-success" onclick="showEditAddressPopup(@ViewData["id"],0);">Create new Shipping Address</button>
    </div>
    <div id="shippingAddressesTable">
        <table class="table table-bordered">

            <thead>
                <tr>
                    <td>Address</td>
                    <td>Postal Code</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var address in Model)
                {
                    <tr class="context-menu-two" data-customer-id="@address.CustomerId" data-address-id="@address.Id">
                        <td>@address.Address</td>
                        <td>@address.PostalCode</td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>

<div id="editShippingAddress"></div>