@using System.Collections
@using System.Threading
@using CustomerManagement.Data
@model List<Customer>

@{
    ViewBag.Title = "Customers";
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui.css" type="text/css" />
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/customers.js"></script>
}


<div class="container" style="margin-top: 5px;">


    @Html.AntiForgeryToken()

    <table class="table table-bordered" id="customers">

        <thead>
            <tr>
                <td>First Name</td>
                <td>Name</td>
                <td>Date of Birth</td>
                <td>Phone Number</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>

            <!-- loop -->

            @foreach (var customer in Model)
            {
                <tr class="context-menu-one" data-customer-id="@customer.Id">
                    <td>@customer.FirstName</td>
                    <td>@customer.Name</td>
                    <td>@customer.DateOfBirth.ToShortDateString()</td>
                    <td>@customer.PhoneNumber</td>
                    <td>@customer.Email</td>
                </tr>
            }

        </tbody>

    </table>

</div>

<div id="shippingAddresses"></div>

